/* Sitewide */
body {
  background-color: #1a1b1b;
  color: grey;
}

h1 {
  color: white;
}

hr {
  border-top-color: grey;
}

a:link {
  color: lightGray;
}

a:visited {
  color: lightGray;
}

.card {
  background-color: transparent;
  border-color: grey;
}

.media-image {
  max-width: 40%;
  height: auto;
}

.project-image {
  padding-left: 0%;
  padding-right: 3%;
  padding-bottom: 1%;
}

pre {
  background-color: lightGray;
}

/* About Page */
.about-image{
  max-width: 30%;
  max-height: 300px;
}

/* Project List */
.card-clickable-link {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.card h2 {
  color: white;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}


@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
    }
}

/* Articles */
.markdown-content h2, h3, h4 {
  color: white;
  line-height: 2;
}

.markdown-content figure {
  text-align: center;
}

.markdown-content .fig-75 img {
  max-width: 75%;
  height: auto;
}

.markdown-content .fig-50 img{
  max-width: 50%;
  height: auto;
}

.markdown-content

.markdown-content code {
  background-color: rgba(211, 211, 211, .8);
}
